.top {
    display: flex;
    flex-direction: column;


    .bloc {
        position: fixed;
        background-color: $colorTouch;
        height: 3vh;
        width: 100%;
        z-index: 9999;
        margin-top: 10vh;
    }

    .marquee-rtl {
        position: fixed;
        margin-top: 10.5vh;
        display: inline-block;
        text-align: center;
        padding-left: 100%;
        z-index: 9999;
        color: white;
        width: 175%;
        white-space: nowrap;
        letter-spacing: 0.5rem;
        height: 3vh;
        animation: defilement-rtl 15s infinite linear;
    }
}

.navbar {
    font-family: Azonix;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    color: white;
    width: 100%;
    height: 10vh;
    background-color: rgb(35, 35, 35);
    z-index: 9999;

    .leftContainer {
        display: flex;
        gap: 1.5vw;
        width: 100%;

        img {
            max-width: 80px;
        }

        h1 {
            font-size: 1.5rem;
            display: flex;
            flex-direction: column;
        }
    }

    .rightContainer {
        width: 100%;

        .navbarLinks {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            gap: 3%;
        }
    }
}

li:hover {
    background-color: $colorTouch;
    cursor: pointer;
}

.navbarBurger {
    display: none;
    height: 40px;
    width: 40px;
    background: transparent;
    border: none;
    color: white;
}

// responsive_______________________________________
@media (max-width: 992px) {

    .navbar {
        .rightContainer {
            .navbarLinks {
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 10%;
                position: fixed;
                right: -100vw;
                bottom: 0;
                height: 100vh;
                width: 100%;
                padding: 2rem;
                background-color: $notRealBlack;
                visibility: hidden;
                display: none;

                & :hover {
                    color: $colorTouch;
                    background-color: transparent;
                }

                .showNav, .navbarLink {
                    right: 0;
                    width: 100vw;
                    visibility: visible;
                    margin-right: 50vw;
                    color: aqua;
                    z-index: 9999;
                }

                .navbarLink {
                    display: block;
                    padding: 1.5rem;
                    font-size: 5vw;
                }
            }

            .marquee-rtl {
                display: none;
            }
        }

        .navbarBurger {
            display: block;
            position: fixed;
            padding-right: 8%;
            right: 0;

            &:hover {
                cursor: pointer;
            }

            .burgerBar,
            .burgerBar::before,
            .burgerBar::after {
                display: block;
                position: relative;
                width: 40px;
                height: 3px;
                border-radius: 3px;
                background-color: white;

            }

            .burgerBar,
            .burgerBar::before,
            .burgerBar::after {
                content: "";
                position: absolute;
                // left: 0;
            }

            .burgerBar::before {
                transform: translateY(-12px);
            }

            .burgerBar::after {
                transform: translateY(12px);
            }

        }
    }



    .bloc {
        display: none;
        width: 0;
    }

    .marquee-rtl {
        display: none;
        width: 0;
        font-size: 0;
    }
}

@media (max-width: 768px) {

    .navbar {
        height: 5vh;

        .leftContainer {
            margin-top: 1%;

            img {
                height: 3vh;
            }

            h1 {
                font-size: smaller;
            }
        }

        .navbarBurger {
            width: 30px;
            height: 30px;
        }
    }
}

@media (max-width: 450px) {
    .navbarBurger {
        margin-right: 25%;
    }
}