.contact {
    padding-top: 5%;
    color: white;

    .thanks {
        font-size: 3rem;
    }

    .contactMe {
        padding-top: 5%;
    }

    .contactContent {
        padding-top: 10%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        
        .socialImg {
            display: flex;
            flex-wrap: wrap;
            align-items: baseline;

            img {
                height: 15vh;
                margin-top: 20%;
                padding: 15%;
            }

            .linkedin {
                margin-left: 2vw;
            }
        }
    }
}